.col-4 {
    padding-left: 0;
    padding-right: 0;
}

.jumbotron {
    text-align: center;
    background-color: #ff5b5b;
    color: #ffffff;
    border-radius: 0;
}

.list-group-flush>.list-group-item {
    border-width: 0 1px 1px;}

.list-group-flush>.list-group-item:last-child {
    border-bottom-width: 1px;
}

.list-group-flush>.list-group-item:first-child {
    border-top-width: 1px;
}

.card {
    -webkit-box-shadow: 5px 5px 8px -2px rgba(0,0,0,0.78); 
    box-shadow: 5px 5px 8px -2px rgba(0,0,0,0.78);
}

.row {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}